*{
	padding:0;
	margin:0;
	box-sizing: border-box;	/*这句没懂*/
}

a{
	color: #999999;
	text-decoration: none; /*文字修饰(文字划线)*/
}

.fl {
	float: left;  /*不懂*/
}

.fr{
	float: right;
}

li{
	list-style: none;
}

header{
	height: 56px;
	background-color: #333333;
}

body{
	background-color: #E5E5E5;	
	padding:0;
}


header .left img{
	height:56px
}

header .navbar>li{
	color: #999999;
	margin:0 10px;
	font-size: 1em;
	line-height: 56px;
	cursor: pointer;  /*不懂*/
}

header .navbar>li:hover a{
	color:#ffffff;
}

header .navbar>li:hover .sub{
	display: block;
	}

header .sub{
	background-color: #333333;
	border-radius: 0 0 5px 5px;
	line-height: 2.2em;
	padding:0 10px;
	margin-left: -5px;
	position:absolute;  /*不占位*/
	display: none;
	z-index:1;  /*层级,涉及覆盖（需要先定义position：absolute）*/
}

.right input{
	outline:none;
	border: none;
	width: 200px;
	height: 25px;
	border-radius: 3px;
}

.left{
	margin-left: 30px;
}

.right{
	margin-right: 30px;
}

.right form{
	position: relative;
}

.fa-search{
	position: absolute;
	top:22.5px;
	left:6px ;
	
}

.right input[placeholder]{
	text-indent: 23px;
	font-weight: 100;
}

.sub_header{
	background-color: white;
	text-align: center;
	font-size: 0.9em;
	border-bottom: 1px solid #e5e5e5;
	position:relative;
}

.sub_header li{
	display:inline-block; /*之前是块级元素,独自占一行,现在允许排在一行*/
	margin:13px 13px;
}

.sub_header .fa-th-large{
	position: absolute;
	top:16px;
	right:20px;
	font-size: 1.1em;
	color: #999999;
}

.sub_header i:hover{
	color: #333333;
}

.container{
/*	background-color: gray;
*/	width: 1000px;
	margin: 30px auto;
}

.card .top{
	background-color: white;
	padding:10px 10px;
	margin-bottom: 10px;
	position: relative;  /*搞父级？？？*/
}

.card{
	width: 220px;
	margin: 20px 13px;
	display: inline-block;  /*重要*/
}

.card .info{
	text-align: right;
	color: #999999;
	font-size: 0.8em;
}

.author{
	margin-left: 6px;
}

.author img{
	width: 19px;
	border-radius: 10px;
	vertical-align:  bottom;
}

.author span{
	color: #3d8cb9;
	font-weight: 500;

}

.container .hover_info{
	font-size: 0.8em;
	position: absolute;
	top:5px;
	padding: 10px 3px;
	background-color: rgba(255,255,255,0.9);
/*	opacity: .9;
*/	height:155px ;
	display: flex;
	flex-direction: column;
	justify-content: space-between;  /*重要*/
	color: #333;
	display: none;
}

.container .top:hover .hover_info{
	display: block;
}

.loadmore{
	height:50px;
	width: 1000px;
	background-color: #aaa;
	text-align: center;
	 border-radius: 10px;
	 color: white;
	 font-weight: 600;
	 line-height: 50px;
	 display: inline-block;
}
.loadmore:hover{
	background-color: gray;
	cursor: pointer;
}

footer{
	margin:0 auto;
	font-size: 0.85em;
	color: #999999;
	line-height: 1.6em;
	background-color: white;
	padding: 40px 0;
}

.footer_top{
	display: flex;
	margin: 0 auto;
}

.footer_card ul{
	display: inline-block;
}

.job{
	display: flex;
	align-items: center;  /*重要*/
}

.job img{
	height:25px;
	margin-right: 15px;
}

.footer_card .top{
	display: flex;
}

.footer_card .bottom{
	display: flex;
}

.footer_card .top img{
	height: 100px;
	margin-right: 15px;
	margin-bottom: 25px;
}

.footer_card .bottom img{
	height: 56px;
	margin-right: 15px;
}

.footer_top .one{
	width:255px;
	margin:0 60px;
}

.footer_top .two{
	width:200px;
}

.footer_top .two .lists ul{
	margin-right: 20px;
}

.footer_top .three{
	width:150px;
	margin-right: 25px;
}

.footer_top .four{
	width:220px;
	margin-right: 25px;
}

.footer_top .five{
	width:350px;
	margin: 0 30px;
}

.footer_top h4{
	margin-bottom: 10px;
}

.footer_card .top h6{
	color: #bbb;
	font-size: 1em;
	font-weight: bold;
}

.footer_card .bottom h6{
	font-size:1.6em ;
	color: black;
}

