*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
 }

body{
	background-color:#f7f7f7;
	font-size: 0.8em;
	font-family:"微软雅黑";
	color: #2b3f55;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
	color: #2b3f55;

}

a:hover{
	color:#03B3AD
}

.header{
	background-color: white;
}




.profile{
	width:800px;
	margin:0 auto;
	padding:80px 0;
}

.profile h1{
	font-weight:bolder;
}

.profile p{
	margin: 10px 0 10px;
}

.profile .links{
	margin-top:30px;
}

.links .QRs .icon{
	width:15px;
	margin-right: 10px;
	float: left;
}

.links .QRs .QR{
	margin-top: 20px;
	width: 100px;
	position: absolute;
	box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
	border-radius: 2px;
}

.links .QRs .QR{
	display: none;
}

.links .QRs:hover .QR{
	display: block;
}
	
.info{
	display: flex;
	width:800px;
	margin:0 auto;
	justify-content: space-between;
	padding:120px 0;
}

.info h2{
	font-size:1.2em;
	font-weight: bolder;
	margin-bottom: 20px;
}

.info img{
	width: 20px;
	margin-right: 6px;
	vertical-align: bottom;
}
.info li{
	margin: 10px 0 10px;
}

.pro_wrap{
	width: 800px;
	margin:0 auto;	
}

.pro_wrap h2{
	margin-bottom: 30px;
	font-size: 1.3em;
}

.pro_wrap h2 img{
	width:20px;
	vertical-align:middle;
	margin-right: 10px;
}

.projects{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.project{
	width: 350px;
	background-color: white;
	padding:15px;
	margin-bottom: 50px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.07);
	border-radius: 3px;
}

.project img{
	width:100%
}

.project h3{
	margin:30px 0;
	font-size: 1.2em;
}

.project p{
	margin-bottom: 20px;
	line-height:1.7em;
	text-indent:2em;
}

.project span{
	margin-right: 15px;
}

.purple{
	color: purple;
}

.green{
	color:green;
}

.deepskyblue{
	color:deepskyblue;
}

footer{
	margin:50px auto;
	text-align: center;
	color: gray;
}


.triangle{
	opacity: 0.5;
	position: absolute;
	width: 100px;
	animation-name: float;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.video-container{
	margin:50px 0;
	text-align: center;
}

.video-container video{
	width:800px;
}

.youku{
	margin:50px 0;
	text-align: center;
}

.bilibili{
	margin:50px auto;
	text-align: center;
}

.bilibili iframe{
	width: 800px;
	height: 450px;
}

@keyframes float{
	from{transform:translate(-100px,400px) rotate(0);}
	to{transform:translate(400px,-100px) rotate(300deg);}
}

@media (max-width:700px) {
	.header{
		width:100%;
	}
	.profile {
		width:90%;
		margin:0 auto;
	}
	
	.info {
		width:90%;
		margin:0 auto;
	}
	
	.pro_wrap {
		width:90%;
		margin:0 auto;
	}
	
	.info{
	display:block;
	}
	
	.card{
		margin-bottom:50px;
	}
	
	.video-container video{
		width: 90%;
	}
	
	.bilibili iframe{
		width:90%;
	}
	
	.youku embed{
		width: 90%;
	}
}




/*<img src="http://placeimg.com/320/320/tech">*/