本节要点:

列表添加内容
给循环项目添加唯一key值

对象循环渲染


-----------------------------------------------------
1/列表循环渲染
	*老师推荐用item of list ,而不是item in list
	*在实际生产中,后台返回的数据带有id和content,可用item.id值作为key
	---------
<div v-for="item of list" v-bind:key="item.id"> </div>

vue.$data:{
	list:[
		{
			id:"0001",
			content:"hehe"
		},{
			id:"0002",
			content:"hehe"
		},{
			id:"0003",
			content:"hehe"
		}
	]
}

---------------------------------------
2/向列表中添加条目:
应当使用vm.list.push({id:"0001",content:"hehe"})

不可以直接使用vm.list[4]={id:"0001",content:"hehe"}这样子的,不OK

---------------------------------------
3/修改list中的内容:

不可以直接使用vm.list[4]={id:"0001",content:"hehe"}这样子的,不OK

应当使用vm.list.splice(1,1,{id:"0001",content:"hehe"})

或者

重新指定vm.list的内容
vm.list=[{
			id:"0001",
			content:"hehe"
		},{
			id:"0002",
			content:"hehe"
		},{
			id:"0003",
			content:"hehe"
		}]


利用set方法:
vue.set(vm.user,1,"呵呵哒")
或者
vm.$set(vm.user,2,"呵呵哒")

第一个参数:要改变的数组,第二个参数:要改变的值的下标,第三个参数:新的值



--------------------
4/模板占位符<template></template>>------避免自动添加的div标签
模板占位符可以使用v-for等帮助循环,也可以添加:key值,在渲染中,<template></template>将被消除

--------------------
5/循环对象:
可以循环出三个元素----item/key/index
<div v-for="(item,key,index) of user">
	{{item}}----{{key}}----{{index}}
</div>

data:{
	user:{
		name:'Ronny',
		age:20,
		gender:'male'
	}
}

===
5.1修改对象内容:可以直接修改
vm.user.name="mike"

5.2 添加内容:
直接重新写入内容

方法二:使用vue.set()方法
示例:
vue.set(vm.user,"address","beijing")
其中,第一个参数:对象,第二个参数:key,第三个参数:value

方法三:使用vue实例的方法:
vm.$set(vm.user,"address","beijing")
