<!DOCTYPE html>
<html>
<head>
	<title>test_2_7_组件化3_$emit_再练习</title>
	<script type="text/javascript" src="./vue.js"></script>
</head>
<body>
	<div id="app">
		<input type="text" name="" v-model="adddata">
		<button @click='additem'>按钮</button>
		<ul>
			<item-com v-bind:content="item"
					  v-bind:index="index"
					  v-for="(item,index) in list"
					  v-on:delete="deletethisitem"
					  >
				
			</item-com>
		</ul>
	</div>
</body>
<script type="text/javascript">

	var itemCom={
		props:['content','index'],
		template:'<li @click="itemDelete">{{content}}</li>',
		methods:{
			itemDelete:function(){
				this.$emit('delete',this.index)
			}
		}
	}

	var v=new Vue({
		el:'#app',
		components:{
			itemCom:itemCom
		}
		,
		data:{
			list:['haah','xixi','ppa'],
			adddata:''
		},
		methods:{
			additem:function(){
				this.list.push(this.adddata);
			},
			deletethisitem:function(index){
				this.list.splice(index,1);
			}
		}
	})
</script>
</html>