1/用<transition-group></transition-group>包裹循环列表项,可以为每一项添加过渡效果

<transition-group>
	<div v-for="item of list" key="item.id"></div>
</transition-group>

<!DOCTYPE html>
<html>
<head>
	<title>列表过渡transition-group</title>
	<script type="text/javascript" src="./vue.js"></script>
	<style type="text/css">

	.v-enter,
	.v-leave-to{
		opacity: 0
	}
	.v-enter-active,
	.v-leave-avtive{
		transition: opacity 2s
	}
</style>
</head>
<body>
	<div id="app">
		<button @click="handleClick">add</button>

		<transition-group>
			<li v-for="item of list" key="item.id">
			{{item.content}}
		</li>
		</transition-group>
		
	</div>
</body>
<script type="text/javascript">
	var count=0;
	var vm = new Vue({
		el:"#app",
		data:{
			list:[]
		},
		methods:{
			handleClick:function(){
				this.list.push({
					id:count++,
					content:"hello"
				})
			}
		}
	})
</script>
</html>